<template id="main-template">
    <nav-bar class="uk-display-block uk-position-fixed uk-width-1-1"></nav-bar>
</template>

<script>
    var mainTemplateDoc = document.currentScript.ownerDocument;
    class Main extends HTMLElement {
        constructor() {
            super();

            const template = mainTemplateDoc.querySelector("#main-template");
            const instance = template.content.cloneNode(true);

            var newsFeed = new NewsFeed("Top News");
            $(newsFeed).addClass("uk-display-block");
            instance.append(newsFeed);

            this.appendChild(instance);
        }
    }

    customElements.define('main-site', Main);
</script>