html, body{
    height: 100%;
    width: 100%;
}

body {
    background-color: #bbdefb;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.app {
	background-color: #bbdefb;
}

nav-bar {
	z-index: 2;
}

news-feed {
	padding-top: 80px;
}

nav .navbarFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 15px;
}

nav .logo {
    width: 190px;
    height: 80px;
}

nav .visit {
	margin-left: auto;
	text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#articleFavorite {
	cursor: pointer;
}

#articleFavorite.active {
	
}